<div data-tour="breadcrumbs" class="w-full p-2.5 mb-6.25 bg-base-100 rounded-box">
    <nav aria-label="Breadcrumb">
        <div class="breadcrumb flex flex-wrap items-center gap-1 text-[10px] text-base-content/50">
            <span class="text-base-content/40">/</span>
            @for (crumb of crumbs(); track $index; let isLast = $last; let isFirst = $first) {
            @if (!isFirst) {
            <span class="text-base-content/40">/</span>
            }
            @if (!isLast) {
            <a [routerLink]="crumb.url" class="hover:text-primary">{{ crumb.label }}</a>
            } @else {
            <span class="text-primary font-semibold">{{ crumb.label }}</span>
            }
            }
        </div>
    </nav>
</div>