<div class="w-full p-2.5 mb-6.25 bg-base-100 rounded-box">
    <nav aria-label="Breadcrumb">
        <div class="breadcrumb flex items-center gap-1 text-[10px] text-base-content/50">
            <span class="text-base-content/40">/</span>
            <ng-container *ngFor="let crumb of crumbs(); let isLast = last; let isFirst = first">
                <ng-container *ngIf="!isFirst">
                    <span class="text-base-content/40">/</span>
                </ng-container>
                <ng-container *ngIf="!isLast; else lastCrumb">
                    <a [routerLink]="crumb.url" class="hover:text-primary">{{ crumb.label }}</a>
                </ng-container>
                <ng-template #lastCrumb>
                    <span class="text-primary font-semibold">{{ crumb.label }}</span>
                </ng-template>
            </ng-container>
        </div>
    </nav>
</div>